* {
    font-family: "Ysabeau SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    list-style: none;
}

/*tipografia*/
h1 {
    font-size: 1.8rem;
    font-weight: 800;

}

h2 {
    font-size: 1.7rem;
    font-weight: 600;

}

a {
    color: var(--testo);
}



/**colori*/
:root {
    --primario: #18171c;
    --secondario: #c0c0c0d9;
    --sfumato: linear-gradient(to bottom, #553445 0%, #3d3c40 80%, #656568 20%, #3d3c40 0%, var(--terziarioScuro) 100%);
    --terziario: #6a4156;
    --terziarioScuro: #553445;
    --testo: #fff;

    /*sito einaudi (botstrap )*/
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

.bg-primario {
    background-color: var(--primario);
}

.bg-secondario {
    background-color: var(--secondario);
}

.bg-terziario {
    background-color: var(--terziario);
}

.colore-testo {
    color: var(--testo);
}

/* Stile di base per il body */
body {
    /* font-family: 'Anonymous Pro', monospace; */
    color: black;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

/* Stile per l'header e la navbar */
header {
    background-color: white;
    /* border-bottom: 3px solid red; */
    padding: 0px 0;
}

.navbar {
    list-style: none;
    text-align: center;
    background-color: rgb(109, 156, 112);
    height: 0vh;
}

.hamburger {
    position: fixed;
    top: 20px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: var(--secondario);
    border-radius: 0%;
    /* Parte quadrata all'inizio */
    transition: border-radius 1s, transform 1s;
    /* Transizione */

    background-image: url('images/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 85%;

}

.hamburger:hover {
    border-radius: 50%;
    transform: scale(0.4);
    /* Riduzione delle dimensioni al 50% */
    /* Parte rotonda al passaggio del mouse */
}

/*!modale/
/* Resto dello stile rimane invariato */

/* Stile per la finestra modale */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* box-shadow: 0 0 20px var(--terziarioScuro); */
    /* Sfondo nero traslucido */
    z-index: 9999;
    /* Assicura che la modale sia sopra a tutto il resto */
}

.modal {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: var(--sfumato);
    opacity: 100%;
    color: white;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 0 10px var(--terziarioScuro);
    transition: left 0.3s ease-in-out;
    width: 95%;
    height: 98%;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

/* Stile per le sezioni */
section {
    /* border: 3px solid red; */
    padding: 0px;
    margin: 0;
}

#Introduction {
    color: var(--testo);
    font-size: 0.6rem;
    margin-top: 3vh;
    background-color: transparent;
    padding-bottom: 3ch;
}

#Introduction p {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
}

.portfolio {
    background-color: var(--primario);
    height: 100vh;
    padding-top: 5vh;
}

/* Stile per l'immagine di sfondo e i testi centrati */
.background-image {
    /* background-color: var(--secondario); */
    background-image: url('images/chenier.jpg');
    /* Sostituisci con il percorso corretto dell'immagine */
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px 0;
    color: white;
    color: black;
}

/* Stile per il menu a tendina */

/* Stile per le dropdown list */



.dropdown-button {
    background-color: whitesmoke;
    opacity: 100%;
    color: var(--primario);
    border: 1px solid black;
    padding: 0px 0px;
    cursor: pointer;
    width: 100vw;
    min-height: 5vh;
    text-align: left;
    /* transition: height 6s ease-in-out; */
    overflow: hidden;
}

.dropdown-button p {
    margin-left: 6vw;
}

.anteprimaProd {
    padding-left: 6vw;
    font-weight: 600;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    z-index: 1;
    min-width: 160px;
    top: 100%;
    /* Posiziona sotto il pulsante */
    left: 0;
    /* Allinea a sinistra */
    transform: translateY(-1px);
    /* Aggiunto per separare leggermente */
    transition: max-height 0.3s ease-in-out;
    /* Aggiunto per animare l'altezza */
    max-height: 0;
    /* Nascondi inizialmente */
    overflow: hidden;
    /* Nascondi il contenuto in eccesso */
}

/* Stile per le dropdown espandibili */
.dropdown-content.expanded {
    display: block;
    /* max-height: 500px; Altezza massima per mostrare il contenuto */
}


/* Stile per il contenuto principale */
.main-content {
    flex: 1;
    /* Permette al contenuto di espandersi occupando lo spazio rimanente */
    padding: 0px;
    min-height: 90vh;
}

/* Stile per il footer sticky */
footer {
    background-color: var(--secondario);
    padding: 10px;
    text-align: center;
    position: sticky;
    bottom: 0;
}